// colors
$foreground: #0d084d;
$background-start: #dcdada;
$background-end: white;
$foreground-dark: $background-start;
$background-dark-start: #0e172a;
$background-dark-end: black;
$grey-input: #d4d4d4;
$grey-placeholder: #707070;

// breakpoints
$breakpoint-1: 992px;
$breakpoint-2: 768px;
$breakpoint-3: 600px;
