// colors
$foreground: #0d084d;
$background-start: #dcdada;
$background-end: white;
$foreground-dark: $background-start;
$background-dark-start: #0e172a;
$background-dark-end: black;
$grey-input: #f6f6f6;
$grey-placeholder: #707070;
$grey-dropdown: #e7e6e6;
$gray-weather-card: #f2f2f2;

// breakpoints
$breakpoint-1: 992px;
$breakpoint-2: 768px;
$breakpoint-3: 600px;
