@import "src/styles/reset";
@import "src/styles/variables";

// global styles
* {
  box-sizing: border-box;
}

div {
  display: flex;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;

  span {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%;
  color: $foreground;
  background: linear-gradient(to bottom, transparent, $background-end) $background-start;

  @media only screen and (max-width: $breakpoint-2) {
    font-size: 50%;
  }

  @media (prefers-color-scheme: dark) {
    color: $foreground-dark;
    background: linear-gradient(to bottom, transparent, $background-dark-end)
      $background-dark-start;
  }
}

body {
  min-width: 375px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6rem;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  @media only screen and (max-width: $breakpoint-3) {
    padding: 0 3rem;
  }
}

// App
#root {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 1rem;
    border-bottom: 0.2rem solid;
    filter: drop-shadow(0 2px 3px rgb(0 0 0 / 20%));

    img {
      height: 2.5rem;
      margin-right: 1rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 0;
    gap: 4rem;
    flex: 1;

    .location {
      justify-content: flex-start;
      font-size: 1.4rem;
      height: 2.4rem;
      padding-left: 2rem;
      border-bottom: 1px solid;
      width: 100%;
      font-style: italic;
      color: $grey-placeholder;
      text-transform: uppercase;
      margin-top: 8rem;
    }

    .weather {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0.5rem 0 1rem;
    border-top: 1px solid;
  }

  @media only screen and (max-width: $breakpoint-3) {
    header {
      padding-top: 3rem;
    }

    main {
      padding: 3rem 0;
      gap: 2rem;
    }
  }
}
